<% if @data %>
  <div>
    <div class="info">
      <%= h @title %>
    </div>
    <table border="0" cellspacing="0" cellpadding="0" class="data-table">
      <tr>
        <% @data[0].each do |th| %>
          <th><%= h th %></th>
        <% end %>
      </tr>

      <% @data[1..-1].each do |tds| %>
        <tr>
          <% tds.each do |td| %>
            <td><%= h td %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
